@{
    ViewBag.Title = "Edit";
}

<div class="container-fluid" style="margin-top:50px">

    <div class="row">

        <div class="col">
            <label for="">Line Number*</label>
            <input type="text"
                   class="form-control" readonly name="" id="" aria-describedby="helpId" placeholder="eg:7859664dsd">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>
        <div class="col">
            <label for="">Product Code*</label>
            <input type="text"
                   class="form-control" required name="" id="" aria-describedby="helpId" placeholder="">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>
        <div class="col">
            <label for="">Product Type*</label>
            <input type="text"
                   class="form-control" required name="" id="" aria-describedby="helpId" placeholder="">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>
        <div class="col">
            <label for="">Cost Price*</label>
            <input type="text"
                   class="form-control" required name="" id="" aria-describedby="helpId" placeholder="">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>
        <div class="col">
            <label for="">Sales Price*</label>
            <input type="text"
                   class="form-control" required name="" id="" aria-describedby="helpId" placeholder="">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>
        <div class="col">
            <label for="">Quantity*</label>
            <input type="text"
                   class="form-control" required name="" id="" aria-describedby="helpId" placeholder="">
            @*<small id="helpId" class="form-text text-muted">Help text</small>*@
        </div>

    </div>
</div>
